/* =================================
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}
body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: cornsilk;
	margin: 0;
  background: #000;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
	font-size: .95em;
  letter-spacing: .05em;
  line-height: 1.2em;
}


h1,
h2,
h3 {
	margin-top: 0;
  margin-bottom: 0;
}
a {
	text-decoration: none;
  color: green;
}

img {
	max-width: 100%;
}

/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.main-nav {
  text-transform: uppercase;
}

.name a,
.main-nav a {
	text-align: center;
	display: block;
	padding: 10px 15px;
  font-weight: 700;
  font-size: .95em;
  height: 100%;
  margin: auto;
}

.name a,
.main-nav li {
  border: green 2px solid;
  background: black;
  border-radius: 2px;
  margin: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-nav li:hover,
a:hover,
.sub-footer a:hover {
	color: blue;
  border-color: blue;
}

.main-nav a {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ---- Sticky Footer ---- */

.wrapper {
	min-height: 100%;
	margin-bottom: -100px;
}

.wrapper:after {
	content: "";
	display: block;
}

html,
body {
	height: 100%;
}

.main-footer,
.wrapper:after {
	height: 100px;
}





/* ---- Layout Containers ---- */

.main-header {
  background: #66606b;
  /* margin: 5px; */
  padding: 5px;
  min-height: 138px;
}

.main-footer {
  background: #66606b;
  text-align: center;
  padding: 2em 0;

}

.main-content {
  background: #2e3033;
  padding-bottom: 30px;
}

.sub-footer li {
  margin-top: 20px;
  text-align: center;
}

/* ---- Page Elements ---- */

.welcome-message,
.log-in-form {
  padding: 5px;
  margin: 5px;
  border: solid 2px black;
  margin-top: 10px;
}

.whats-new {
  padding: 5px;
  margin: 5px;
  text-align: center;
}

.tagline {
  display: block;
  text-align: center;
  font-style: italic;

}

.feature {
  margin: 20px auto;
  padding: 5px;
  border: black 2px solid;
  text-align: center;
  max-width: 350px;
}

.feature span {
  color: pink;
  display: block;
}

.sub-footer a {
  border: green 1px solid;
  margin: 10px;
  padding: 10px;
}


/* =================================
  Media Queries
==================================== */

@media (min-width: 818px) {
  .main-content {
    width: 90%;
    margin: 0 auto;
  }

  .main-nav,
  .div-features {
    display: flex;
    justify-content: center;
  }

  .div-features {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .intro {
    display: flex;
    justify-content: space-between;
  }

  .welcome-message {
    align-self: flex-start;
  }

  .welcome-message,
  .log-in-form {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 700px;
  }

.sub-footer {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}


}

@media (min-width: 1200px) {

  /* ---- Navigation ---- */

  .main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .main-nav li {
    border-left: green 2px solid;
    border-right: green 2px solid;
    background: black;
    margin-left: 1px;
    margin-right: 1px;
    border-top: none;
    border-bottom: none;
  }

  .tagline {
    align-self: center;
    border-top: green 2px solid;
    border-bottom: green 2px solid;
    flex-grow: 2;
    font-size: 1.2em;
  }

  .tagline:hover {
    border-top: blue 2px solid;
    border-bottom: blue 2px solid;
  }

  /* ---- Main Content Styles ---- */

  .main-content {
    width: 80%;
    max-width: 1200px;
  }
}
